RewriteEngine On
RewriteCond %{HTTP_HOST} ^www.dailyjs.com$ [NC]
RewriteRule ^(.*)$ http://dailyjs.com/$1 [R=301,L]

RewriteCond %{HTTP_HOST} ^www.dailyjavascript.com$ [NC]
RewriteRule ^(.*)$ http://dailyjs.com/$1 [R=301,L]

RewriteCond %{HTTP_HOST} ^dailyjavascript.com$ [NC]
RewriteRule ^(.*)$ http://dailyjs.com/$1 [R=301,L]

RewriteCond %{REQUEST_URI} ^/20110/11/25/framework-part-40/$ [NC]
RewriteRule ^(.*)$ http://dailyjs.com/2010/11/25/framework-part-40/ [R=301,L]

