<div id="sidebar">
  <ul>
    <li><h3>DailyJS</h3></li>
    <li>A JavaScript blog.</li>
    <li><a href="http://twitter.com/dailyjs">Twitter</a> | <a href="http://feeds.feedburner.com/dailyjs">Feed</a></li>
    <li><iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Ffacebook.com%2Fdailyjs&amp;layout=button_count&amp;show_faces=true&amp;width=200&amp;action=like&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:200px; height:21px;" allowTransparency="true"></iframe></li>
    <li><a href="http://feedburner.google.com/fb/a/mailverify?uri=dailyjs&amp;loc=en_US">Subscribe by Email</a></li>
    <li>
      <p><a href="http://feeds.feedburner.com/dailyjs"><img src="http://feeds.feedburner.com/~fc/dailyjs?bg=000000&amp;fg=FFFFFF&amp;anim=0" height="26" width="88" style="border:0" alt="" /></a></p>
    </li>
    <li><h3>Editor</h3></li>
    <li><a href="http://alexyoung.org">Alex Young</a></li>
    <li><h3>Contributors</h3></li>
    <li><a href="http://www.ricroberts.com/">Ric Roberts</a></li>
    <li><a href="http://twitter.com/olegpodsechin">Oleg Podsechin</a></li>
    <li><a href="http://gusg.us/">Justin (Gus) Knowlden</a></li>
    <li><h3>Search</h3></li>
    <li>
      <form action="http://www.google.com/search" method="get">
        <p class="clean">
          <input name="sitesearch" type="hidden" value="dailyjs.com" />
          <input class="text" name="q" type="text" size="12" /><br/>
          <input class="button" type="submit" value="Google" />
        </p>
      </form>
    </li>
    <li><h3>Sponsors</h3></li>
    <li>
      <!-- BuySellAds.com Zone Code -->
      <div id="bsap_1258455" class="bsarocks bsap_7a845d552c6da77d329c7033a91b07a8"></div>
      <!-- End BuySellAds.com Zone Code -->
    </li>
  </ul>
</div>
