<div id="sidebar">
  <ul>
    <li><h3>DailyJS</h3></li>
    <li>A JavaScript blog.</li>
    <li>
      <div id="carbonads-container"><div class="carbonad"><div id="carbon"></div><script type="text/javascript">var z = document.createElement("script"); z.type = "text/javascript"; z.async = true; z.src = "http://engine.carbonads.com/z/12104/carbon_2_1_0_VERTDARK"; var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(z, s);</script></div></div>
    </li>
    <li><h3>Subscribe</h3></li>
    <li><a href="http://twitter.com/dailyjs">Twitter</a> | <a href="http://feeds.feedburner.com/dailyjs">Feed</a> | <a href="http://feedburner.google.com/fb/a/mailverify?uri=dailyjs&amp;loc=en_US">Email</a></li>
    <li><iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Ffacebook.com%2Fdailyjs&amp;layout=button_count&amp;show_faces=true&amp;width=200&amp;action=like&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:200px; height:21px;" allowTransparency="true"></iframe></li>
    <li>
      <a href="https://plus.google.com/110075199769457074728/?prsrc=3" style="text-decoration: none;"><img src="https://ssl.gstatic.com/images/icons/gplus-16.png" width="16" height="16" style="border: 0;"/></a>
    </li>
    <li class="rss">
      <p><a href="http://feeds.feedburner.com/dailyjs"><img src="http://feeds.feedburner.com/~fc/dailyjs?bg=000000&amp;fg=FFFFFF&amp;anim=0" height="26" width="88" style="border:0" alt="" /></a></p>
    </li>
    <li>
      <form action="http://www.google.com/search" method="get">
        <p class="clean">
          <input name="sitesearch" type="hidden" value="dailyjs.com" />
          <input class="text" name="q" type="text" value="Search" size="12" /><br/>
          <input class="button" type="submit" value="Google" />
        </p>
      </form>
    </li>
    <li><h3>Editor</h3></li>
    <li><a href="http://alexyoung.org">Alex Young</a></li>
    <li><h3>Contributors</h3></li>
    <li><a href="http://alexkessinger.net/">Alex Kessinger</a></li>
    <li><a href="http://gusg.us/">Justin (Gus) Knowlden</a></li>
    <li><a href="http://twitter.com/olegpodsechin">Oleg Podsechin</a></li>
    <li><a href="http://www.ricroberts.com/">Ric Roberts</a></li>
  </ul>
</div>
