body { font-family: Helvetica, Arial, sans-serif; background: #fff; color: #111; margin: 0; padding: 0 }
pre { margin: 0; padding: 0 }
a:link, a:visited { color: #559; }
html body a:hover { color: #ff9900; }
a img { border: none; }
blockquote { font-style: italic; color: #666; margin-left: 40px }
.attribution { font-style: italic; margin-left: 40px } 

p.clean { margin: 0; padding: 0 }
#container { margin: 0 0 0 150px; width: 870px }
#sidebar { color: #666; font-size: 90% }
#sidebar { width: 200px; float: right; margin: 1em 0 0 0 }
#sidebar ul { list-style-type: none; }
#sidebar > ul { margin: 0; padding: 0; }
#sidebar > li { padding: 0 0 1em 0 }
#sidebar > li p { margin: 0 0 10px 0; padding: 0 }
#sidebar li.sponsor { font-size: 90%; margin-bottom: 1em }
#sidebar li.sponsor p { margin: 0; padding: 0 }

#content { width: 550px; float: left; clear: left; }

ul.breadcrumb { margin: 1em 0 10px 0; padding: 0; color: #666; font-size: 90% }
ul.breadcrumb li { display: inline; list-style: none }
ul.breadcrumb li:before { content: "\0020 \0020 \0020 \00BB \0020"; color: #333; }
ul.breadcrumb li.home:before { content: "" !important }

#footer { width: 600px; clear: both; }
#footer p { font-size: 90%; color: #666; padding-top: 1em }

#logo { font-size: 150%; float: left }

.box { background-color: #f8f8ff; border: 2px solid #ddd; padding: 2px 10px !important; margin-top: 10px; line-height: 1.5em }

.highlight { background-color: #f8f8ff; border: 1px solid #ddd; padding: 2px 10px !important; overflow: auto }
.lineno { color: #666 }

h2.post { margin: 0 0 0.25em 0; padding: 0; font-size: 1.75em }
#post p, #post li, div.posts div.preview { line-height: 1.5em; }
h2.post, .post-inner h2 { line-height: 1.25em; }
h2.post a { text-decoration: none }

#post img, .preview img { border: 1px solid #ddd; padding: 1px }

div.intro { color: #666; font-size: 90%; margin: 1em 0 0 0 }

div.meta { color: #666; font-size: 90% }
div.meta span.tags { margin-left: 0 }
div.meta span.comments a { text-decoration: none }

div.posts { list-style-type: none; margin: 0 0 1em 0; padding: 0; width: 550px; float: left }
div.posts div.post-inner { padding: 0.25em 0 2em 0; margin-bottom: 1em; clear: both; width: 100%; border-bottom: 1px solid #ddd }
div.posts .date { color: #666; }
div.posts div.preview { width: 100%; clear: both }
div.posts h2 { font-size: 1.75em; margin: 0; padding: 0; }
div.posts h2 a { text-decoration: none }
span.tags a { text-decoration: none; background-color: #f8f8ff; color: #666 }

#related h2 { margin-top: 2em }
ul.related-posts { list-style-type: none; margin: 0 0 1em 0; padding: 0; width: 600px; float: left }
ul.related-posts li { padding: 0.25em 0; clear: both; width: 100% }
ul.related-posts div { color: #666; font-size: 80%; width: 8em; float: left; margin: 5px 0 0 0; padding: 0 } 
ul.related-posts span.tags { margin-left: 1em; font-size: 80% }
ul.related-posts span.tags a { text-decoration: none; background-color: #f8f8ff; color: #666 }

#dsq-add-new-comment { font-size: 24px }
#comments { margin-top: 1em; float: left; width: 100% }

table.list td { border: 1px solid #999; padding: 5px }
table.amy { width: 100% }
table.amy th { border-bottom: 1px solid #999 }
table.amy td { padding: 5px }
table.large td, table.large th { font-size: 80% }
table.large td { text-align: left }

.bsa_it_ad { margin-bottom: 10px }
li.rss { margin: 0 !important; padding: 0 !important }
li.rss p { margin: 0 !important; padding: 0 0 1em 0 !important }

#framework-boxes p { height: 100px }
#framework-boxes .span4 { height: 220px }

/* Boxes for the sidebar */
.itemlist {
  clear: both;
  color: #333333;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #f5f5f5;
  text-shadow: 0 1px 0 #fff;
  padding-bottom: 0;
  margin-bottom: 20px;
}

.itemlist li {
  background-color: #fafafa;
  border-top: 1px solid #e8e8e8;
  margin: 0;
  padding: 0;
  clear: both;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
}

.itemlist li a {
  text-decoration: none;
}

.itemlist h3 {
  text-shadow: 1px 1px 0 #fff;
  color: #666;
}

.itemlist h3, .itemlist h4, .itemlist p {
  padding: 5px 10px;
  margin: 0;
}

.itemlist h4 {
  clear: both;
}

.staff h4 {
  padding: 5px 10px;
  margin: 0;
}

.itemlist p {
  font-size: 12px;
  padding-top: 0;
  color: #777;
}

.itemlist .twitter {
  padding: 5px 0;
  clear: both;
  height: 48px;
}

.itemlist .twitter a {
  text-decoration: none;
  color: #999;
  clear: both;
  display: block;
}

.itemlist .twitter .meta strong {
  color: #666;
}

.itemlist .twitter .meta s {
  text-decoration: none;
  color: #d0d0d0;
}

.itemlist .twitter img {
  width: 48px;
  height: 48px;
  float: left;
  margin: 0 10px 5px 10px;
  border-radius: 5px;
}

.itemlist .meta {
  margin-top: 5px;
}

.itemlist ul {
  margin: 0;
  padding: 0;
  clear: both;
}

.itemlist ul.subscribe {
  text-align: center;
}
.itemlist ul.subscribe li {
  border: none;
  padding: 10px 0;
}
.itemlist ul.subscribe li.if {
  padding-top: 0;
}

.itemlist ul.subscribe .social-button {
  padding: 0;
  margin: 0;
  width: 24px;
  height: 24px;
}

.itemlist ul.subscribe .links {
  border-top: 1px solid #e8e8e8;
  font-size: normal;
  text-decoration: none;
  padding-top: 10px;
}

#carbonads-container {
  margin-bottom: 20px;
}

.carbonad {
  border-radius: 5px;
  margin: 0 auto;
  padding: 24px;
}

/* Taken from Bootstrap */
a.btn { text-decoration: none; font-weight: bold; }
.btn {
  display: inline-block;
  padding: 4px 10px 4px;
  font-size: 13px;
  line-height: 18px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  background-color: #fafafa;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
  background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  *margin-left: .3em;
}
.btn:first-child {
  *margin-left: 0;
}
.btn:hover {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -ms-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}
.btn:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn.active, .btn:active {
  background-image: none;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  background-color: #e6e6e6;
  background-color: #d9d9d9 \9;
  color: rgba(0, 0, 0, 0.5);
  outline: 0;
}

.hero-unit {
  padding: 30px 40px;
  margin: 30px 0 20px 0;
  background-color: #f5f5f5;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  box-shadow: inset 0 0 7px #ccc;
}
.hero-unit h1 {
  margin: 0;
  font-size: 42px;
  line-height: 1;
  letter-spacing: -1px;
  text-shadow: 2px 2px #fff;
  color: #333;
}
.hero-unit p {
  font-size: 18px;
  font-weight: 200;
  line-height: 27px;
}

.span4 {
  margin-left: 10px;
  width: 175px;
  float: left;
}

.row {
  margin-left: -10px;
  font-size: 90%;
  *zoom: 1;
}
.row:before, .row:after {
  display: table;
  content: "";
}
.row:after {
  clear: both;
}

.nav {
  list-style: none;
  padding: 0;
}
.nav > li > a {
  display: block;
}
.nav > li > a:hover {
  text-decoration: none;
  background-color: #eeeeee;
}
.navbar {
  overflow: visible;
  height: 60px;
}
.navbar-inner {
  height: 60px;
  background-color: #DADFE7;
}
.navbar .brand {
  float: left;
  display: block;
  padding: 14px 0;
  margin-left: 150px;
  font-size: 32px;
  line-height: 1;
  color: #404040;
  text-decoration: none;
  text-shadow: 1px 1px #fff;
  font-weight: 600;
}
.navbar-form {
  margin-bottom: 0;
  *zoom: 1;
}
.navbar-form:before, .navbar-form:after {
  display: table;
  content: "";
}
.navbar-form:after {
  clear: both;
}
.navbar-form input, .navbar-form select {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 0;
}
.navbar-search {
  margin-top: 16px;
  margin-bottom: 0;
  position: absolute;
  left: 816px;
}
.navbar-search .search-query {
  padding: 4px 9px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  color: #000;
  border: 1px solid #aaa;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0px rgba(255, 255, 255, 0.15);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0px rgba(255, 255, 255, 0.15);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0px rgba(255, 255, 255, 0.15);
  border-radius: 4px;
  outline: 0;
  width: 186px;
}
.navbar-search .search-query:hover {
  background-color: #999999;
  background-color: rgba(255, 255, 255, 0.5);
}
.navbar .nav {
  position: relative;
  left: 0;
  display: block;
  float: left;
  margin: 20px 0 0 100px;
}
.navbar .nav .social-button {
  margin-left: 8px;
}
.nav-collapse.collapse {
  height: auto;
}
.twitter-button {
  width: 110px;
}
.navbar .nav > li {
  display: block;
  float: left;
}
.navbar .nav > li > a {
}
.navbar .nav > li > a:hover {
  background-color: transparent;
  color: #333;
  background-color: #ccc;
  text-decoration: none;
}
.subnav .active > a, .subnav .active > a:hover {
  color: #333;
  text-decoration: none;
  background-color: #e9e9e9;
  border-right-color: #ccc;
  border-left-color: #ccc;
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
  box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
}

.label {
  padding: 1px 3px 2px;
  font-size: 9.75px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #999999;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.label-important {
  background-color: #b94a48;
}
.label-warning {
  background-color: #f89406;
}
.label-success {
  background-color: #468847;
}
.label-info {
  background-color: #3a87ad;
}

.nav-tabs, .nav-pills {
  *zoom: 1;
  margin: 0;
  padding: 0;
}
.nav-tabs:before,
.nav-pills:before,
.nav-tabs:after,
.nav-pills:after {
  display: table;
  content: "";
}
.nav-tabs:after, .nav-pills:after {
  clear: both;
}
.nav-tabs > li, .nav-pills > li {
  float: left;
}
.nav-tabs > li > a, .nav-pills > li > a {
  padding: 10px 12px;
  margin-right: 0;
  line-height: 12px;
  border-left: 1px solid #fff;
  border-right: 1px solid #e5e5e5;
  font-size: 14px;
  text-decoration: none;
}

.subnav {
  text-shadow: 0 1px 0 #fff;
  border: 1px solid #ccc;
  border-left: none;
  border-right: none;
  -webkit-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
  -moz-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
  box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
  background-color: #eeeeee;
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#eeeeee));
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
  background-image: -ms-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
  background-image: -o-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
  background-image: linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
  margin: 0 0 20px 0;
  padding: 0 0 0 150px;
}
